
.b
{
  margin-left:2px;
  margin-top:15px;
  justify-content:space-between;
  font-size:47px;
  border:2px solid yellow;
  background-color:#FFF;
  color:#000080;
  border-radius:25px;
}
.b input
{
  width:500px;
  
  padding:30px;
  
}
.c
{
  margin-top:50px;
  
}
.d
{
  margin-top:10px;
  background-color:#0000CD;
  color:blue;
  font-size:3px
}
.e
{
  color:#000080;
  font-size:45px;

}
.g
{
  padding:12px;
  width:110px;
  border-radius:15px;
  background-color:blue;
  color:white;
  font-size:17px;
  
}
.r button
{
  padding:12px;
  width:110px;
  border-radius:15px;
  font-size:17px;
  background-color:blue;
color: white;

}
.p
{
  font-size:40px;
  color:#000080;
  
}
.t 
{
  margin-left:10px;
}
.t img
{
  margin-right:20px;
}
.w
{
  background-color:lightgray;
  font-size:25px;
  border-radius:13px;

}
.v button
{
  width:100px;
background-color:blue;
  border-radius:13px;
  color:white;
  margin-left:30px;
  padding:17px;
  font-size:20px;
}
.v
{
  cursor:pointer;
  
}
.z img
{
  animation:Slide_Up 2.1s ease;
  border-radius:25px;
  
}
@keyframes Slide_Up{
  0%{
    transform:translateY(260px);
  }
  100%{
    transform:tramslateY(0px);
  }
}
.m
{
  display:flex;
 padding-top:5px;
  justify-content:center;
  line-height:150px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:purple;
  border: 10px solid skyblue;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  
}
@-o-keyframes Slide_Up{
  0%{
    transform:translateY(250px);
  }
  100%{
    transform:translateY(0px);
  }
}
.l 
{
  display:flex;
}
.u
{
  display:flex;
  padding-top:2px;
  justify-content:center;
  line-height:75px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:darkgreen;
  border: 10px solid yellow;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  
}
.k
{
  display:flex;
  padding-top:2px;
  justify-content:center;
  line-height:80px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:brown;
  border: 10px solid purple;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  margin-right:10px;
}
.t
{
  display:flex;
  padding-top:2px;
  justify-content:center;
  line-height:75px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:purple;
  border: 10px solid green;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  font-style:italic;
}
.j
{
  display:flex;
  padding-top:2px;
  justify-content:center;
  line-height:150px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:purple;
  border: 10px solid red;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  font-style:italic;
  font-style:italic;
}
.i
{
  display:flex;
  padding-top:2px;
  justify-content:center;
  line-height:150px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:green;
  border: 10px solid yellow;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  font-style:italic;
}
.n
{
  display:flex;
  padding-top:2px;
  justify-content:center;
  line-height:75px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:black;
  border: 10px solid orange;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
  font-style:italic;
}
.y
{
  display:flex;
  padding-top:5px;
  justify-content:center;
  line-height:110px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:brown;
  border: 10px solid skyblue;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
}
.v
{
  display:flex;
  padding-top:5px;
  justify-content:center;
  line-height:150px;
  font-weight:bold;
  font-size:37px;
  position:relative;
  width:345px;
  height:250px;
  background-color:green;
  border: 10px solid yellow;
  border-radius:25px;
  animation: Slide_Up 2.1s ease;
  color:white;
}
.h
{
  background-color:lightyellow;
  border-radius:25px;
}
.u
{
  background-color:gray;
}
.re
{
  background-color:lightgray;
  border-radius:13px;
}
.tp
{
  display:flex;
  justify-content:center;
  
}